<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <target name="file" xsi:type="File"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${logger} | ${level} | ${message} ${onexception:| ${exception:format=ToString}}"
        fileName="${basedir}/logs/logfile.txt"
        deleteOldFileOnStartup="True"
        encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <filters>
      <when condition="equals('${buildConfiguration}','Debug')" action="Ignore" />
    </filters>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <filters>
      <when condition="equals('${buildConfiguration}','Release')" action="Ignore" />
    </filters>
  </rules>
</nlog>